
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
}
.container {
    padding: 20px;
    width: 400px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0,0.3);
    border-radius: 12px;
    background: #22252D;
    color: white;
}
.btn {
    background-color:rgb(64, 74, 161);
    border-radius: 4px;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
}
button {

    margin: 5px 0;
    border: 1px solid black;
    font-size: 22px;
    font-weight: 60px;
    border-radius: 5px;
    cursor: pointer;

}